<!--suppress ALL -->
<div class="ui grid" *ngIf="lesson">
  <div class="twelve wide column">
    <h1 class="ui header">{{lesson.title}}</h1>
    <p class="ui header">{{ lesson.description }}</p>
    <div class="ui divider"></div>
    <div class="ui grid">
      <div class="four wide column">
        <h4 class="ui header">Dein*e Helfer*in</h4>
        <span>{{ lesson.user.firstname }} {{ lesson.user.lastname }} </span>
      </div>
      <div class="four wide column">
        <h4 class="ui header">Termin 1</h4>
        <button>{{ lesson.timeslot1 }}</button>
      </div>
      <div *ngIf="lesson.timeslot2" class="four wide column">
        <h4 class="ui header">Termin 2</h4>
        <button>{{ lesson.timeslot2 }}</button>
      </div>
      <div class="four wide column">
        <h4 class="ui header">Status: {{lesson.status}}</h4>
      </div>
    </div>
  </div>
  <div class="sixteen wide column">
    <h3 class="ui header">Beschreibung</h3>
    {{ lesson.description }}
  </div>
</div>
<div class="ui" *ngIf="lesson?.status">
  <i class="green ellipsis icon"></i>
</div>

<button (click)="showLessonList()" class="ui red button">Zurück zur Liste</button>
