<div class="ui {{isLoggedIn() && userIsHelper() ? 'four' : 'three'}} item tabs menu">
  <a routerLink="home" routerLinkActive="active" class="item">Home</a>
  <a routerLink="lessons" routerLinkActive="active" class="item">Angebote</a>
  <a *ngIf="isLoggedIn() && userIsHelper()" routerLink="admin" routerLinkActive="active" class="item">Administration</a>
  <a routerLink="login" routerLinkActive="active" class="item">{{getLoginLabel()}}</a>
</div>
<router-outlet></router-outlet>

<!--<div class="ui active inverted dimmer">-->
<!--  <div class="ui text loader large">Lade Nachhilfeforum</div>-->
<!--</div>-->
