<br>
<div class="ui container text center aligned">
  <h1>Mein Bereich</h1>
  <br>
</div>
<div *ngIf="userIsHelper()">
  <div class="ui container text center aligned">
    <h3>Warten auf Antwort</h3>
    <br>
  </div>

  <div class="ui selection list grid container text">

    <div *ngFor="let proposal of proposals" class="item bs-proposal-list-item" [proposal]="proposal">
    </div>

  </div>
</div>
<div *ngIf="!userIsHelper()">
  <div class="ui container text center aligned">
  <h3>Versendete Anfragen</h3>
    <br></div>

  <div class="ui selection list grid container text">

    <div *ngFor="let proposal of proposalsSent" class="item bs-proposal-list-item" [proposal]="proposal">
    </div>

  </div>
</div>
<br><br>
<div class="ui container text center aligned">
<h3>Meine Einheiten</h3>
  <br></div>

<div class="ui selection list grid container text">


  <a *ngFor="let lesson of lessons" class="item bs-lesson-list-item"
     [lesson]="lesson" [routerLink]="['../lessons/' + lesson.id]">

  </a>
</div>
<br><br>



