<div *ngIf="userIsHelper() && proposal?.status == 'unbeantwortet' || !userIsHelper()"
     class="ui items segment black" style="width: 700px; cursor: unset;">
  <div class="item">
    <div class="content">
      <p class="header">{{proposal?.lesson?.title}}</p>
      <a *ngIf="proposal?.status == 'unbeantwortet'" class="ui label right floated blue">{{proposal?.status}}</a>
      <a *ngIf="proposal?.status == 'akzeptiert'" class="ui label right floated green">{{proposal?.status}}</a>
      <a *ngIf="proposal?.status == 'abgelehnt'" class="ui label right floated red">{{proposal?.status}}</a>
      <div class="meta">
        Angefragt von {{proposal?.user?.firstname}} {{proposal?.user?.lastname}}
      </div>
      <br>
      <div>
        <h3 class="header">{{proposal?.time}}</h3>
      </div>
      <div class="description">
        <span>{{proposal?.message}}</span>
      </div>
      <br>
      <div class="meta right floated">
      <div *ngIf="userIsHelper()">
        <button class="ui button green"
                (click)="acceptLesson(proposal?.time, proposal?.user_id, proposal?.lesson?.id, proposal?.id)">Annehmen
        </button>
        <button class="ui button red" (click)="denieLesson(proposal?.lesson?.id)">Ablehnen</button>
      </div>
      <div *ngIf="!userIsHelper()">
        <button class="ui button red" (click)="removeProposal(proposal?.id)">Löschen</button>
      </div>
    </div>
  </div>
</div>
