<div class="ui items segment olive" style="width: 700px;">
  <div class="item">
    <div class="content">
        <p class="header">{{lesson?.title}}</p><a class="ui label right floated">{{lesson?.course?.name}}</a>
        <div class="meta">
          Angebot von {{lesson?.user?.firstname}} {{lesson?.user?.lastname}}
        </div>
        <div class="description">
          <span>{{lesson?.description}}</span>
        </div>
        <div *ngIf="lesson?.truetimeslot == null" class="meta right floated">
          <p><b>Termin 1:</b> {{lesson?.timeslot1}}</p>
          <p><b>Termin 2:</b> {{lesson?.timeslot2}}</p>
        </div>
        <div *ngIf="lesson?.truetimeslot != null" class="meta right floated">
          <p><b>Vereinbarter Termin:</b> {{lesson?.truetimeslot}}</p>
        </div>
      </div>
  </div>
</div>

