<!--<div class="ui two item tabs menu">-->
<!--  <a routerLink="home" routerLinkActive="active" class="item">Home</a>-->
<!--  <a routerLink="lessons" routerLinkActive="active" class="item">Angebote</a>-->
<!--</div>-->
<!--<router-outlet></router-outlet>-->

<div class="ui container">
  <h1>Home</h1>
  <p>FHOÖ Nachhilfeportal</p>
  <p><bs-search class="column" (lessonSelected)="lessonSelected($event)"></bs-search></p>
<!--  <a routerLink="../lessons" class="ui red button">{{randomWelcomeText}}</a>-->
  <a routerLink="../lessons" class="ui red button">Los geht's</a>
</div>
