<br>
<div class="ui grid middle aligned">
  <div class="row">
    <div class="column ">
      <div class="ui text container inverted grey segment center aligned">
        <h1>FHOÖ Nachhilfeportal</h1>
        <p>Studenten helfen Studenten</p>
        <p>
          <bs-search class="column" (lessonSelected)="lessonSelected($event)"></bs-search>
        </p>
        <!--  <a routerLink="../lessons" class="ui red button">{{randomWelcomeText}}</a>-->
        <a routerLink="../lessons" class="ui olive button">Los geht's</a>
      </div>
    </div>
  </div>
</div>
